.container {
    background-color: rgb(20 19 20);
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin-top: -20px;
  }
  
  .container a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
  }
  
  .container a:hover {
    background-color: white;
    color: rgb(135, 91, 135);
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn{
    background-color: #ab527c
  }

  .imagen{
    width: 220px;
    height: 110px;
    margin-top: 0px;
}